extend ./_basic-page.jade

mixin demoLink(href)
    div.demo-link
        a(href=href)
            .overlay
                .fa.fa-external-link(aria-hidden="true")
            block

mixin gallery(imagePath, imageNames, imageCaptions)
    .row.project-description-section.slideshow
        .selected-image
        .caption
        .thumbnail-wrap
            .visible-thumbnails
                .thumbnails
                    each imageName, i in imageNames
                        -
                            var caption = (imageCaptions && imageCaptions[i]) || "";
                            var fileInfo = imageName.split(".");
                            var baseFile = fileInfo[0].split("-");
                            baseFile.pop();
                            var basePath = projectImagePath + baseFile.join("-");
                            var thumbnailPath = basePath + "-small." + fileInfo[1];
                            var largePath = basePath + "-large." + fileInfo[1];
                        img(src=thumbnailPath, data-large-path=largePath, data-caption=caption)
            i.fa.fa-chevron-left.thumbnail-advance-left
            i.fa.fa-chevron-right.thumbnail-advance-right
        .slideshow-modal
            .modal-overlay
            .modal-contents
                .modal-image
                .modal-caption
                i.fa.fa-chevron-left.image-advance-left
                i.fa.fa-chevron-right.image-advance-right
            i.fa.fa-times.modal-close

mixin titledSection(title)
    .row.project-description-section
        .caption-left.col-md-2!= title
        .section-right.col-md-10
            block

mixin fullWidthSection()
    .row.project-description-section
        .col-xs-12
            block

block content
    .container.project-page(id= projectTitle)
        #project-headline
            .project-headline
                span.project-title!= projectTitle
                != projectHeadline
            ul.details.list-unstyled
                each detail, index in projectDetails
                    li!= detail
                    if index !== (projectDetails.length - 1)
                        | |

        block projectDescription