extend ../jade-layouts/_project-page.jade

block variables
    -
        var projectName = "uic-gameplay";
        var projectImagePath = "/images/projects/" + projectName + "/";
        var projectTitle = "";
        var projectHeadline = "Game Play at UIC";
        var projectDetails = [
            "2016 - Present",
            "Tags: Teaching"
        ];

block metaOpenGraph
    - const ogTitle = "I taught Game Play at UIC";
    - const ogDescription = "";
    - const ogImage = `https://www.mikewesthad.com/images/projects/${projectName}/cardboard-2-large.jpg`;
    meta(property="og:type" content="website")
    meta(property="og:url" content=`https://www.mikewesthad.com/projects/${projectName}/`)
    meta(property="og:image" content=ogImage)
    meta(property="og:title" content=ogTitle)
    meta(property="og:description" content=ogDescription)

block projectDescription
    +titledSection("Overview")
        p I teach Game Play at UIC. See the most recent #[a(href="https://www.mikewesthad.com/uic-gameplay-spring2017/") class website].